/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$headings-font-family: "ubuntu", sans-serif;
$font-family-base: "roboto", sans-serif;
$font-family-sans-serif: "roboto", sans-serif;

$navbar-bg: #D90668;
$navbar-fg: #F1E9DA;
$navbar-hl: #FFD402;

/* Additional custom styles */
p {
  font-family: $font-family-sans-serif;
}

/* Logo */
.logo-institution {
  height: 72px;
}

#hero-banner {
  padding-top: 35px;
  background-color: rgb(237,243,249);
}

#quarto-content main {
  margin-top: 0;
  padding-top: 0;
}

.headline {
  font-size: 1.25em;
  font-weight: 300;
  padding-bottom: 1em;
}

.headline p {
  margin: 0;
  padding-bottom: 0.5rem;
}
